---
title: Annoying Things
category: Nikpicks
author: jbcarreon123
---

> Note: Most of the scripts here are heavily modified so it won't send data to servers. I don't want to get some flack about advertising this page on their sites unintentionally. And also I don't hate the music played here.